@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
@-webkit-keyframes slide-top {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 60px;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  color: #444444;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-right: 20px !important;
}

.logo h1 a {
  font-size: 34px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.logo h1 a span {
  color: #fcbd29;
}

.header {
  padding: 8px 0;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header nav .right a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  padding: 8px 26px;
  border: 2px solid #fcbd29;
  border-radius: 5px;
  color: #fff;
  transition: 0.2s;
  font-size: 15px;
}
.header nav .right a:hover {
  background-color: #fcbd29;
  color: #000;
}
.header nav .right .bars {
  display: none;
  cursor: pointer;
}
.header nav .right .bars li {
  height: 2px;
  width: 25px;
  font-size: 1.5rem;
  background-color: #fff;
  margin-bottom: 7px;
}
.header nav .center .menu-list {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 0 !important;
}
.header nav .center .menu-list a, .header nav .center .menu-list span {
  display: block;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  font-size: 15px;
}
.header nav .center .menu-list a.active {
  color: #fcbd29;
}
.header nav .center .menu-list a:hover {
  color: #fac04f;
}

.drop-down {
  position: relative;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.drop-down:hover {
  color: #ffc451 !important;
}
.drop-down:hover #colr {
  color: #ffc451 !important;
}
.drop-down:hover .drop-down-menu {
  top: 37px;
  opacity: 1;
  visibility: visible;
}

.deep-drop-down-menu {
  padding: 5px 0;
  position: absolute;
  top: 50px !important;
  left: 200px !important;
  border-left: 1px solid rgba(238, 238, 238, 0.9333333333);
  width: 200px;
  background: #fff;
  transition: 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;
  visibility: hidden;
}

.drop-down-menu {
  position: absolute;
  top: 67px;
  background-color: #fff;
  width: 200px;
  padding: 5px 0;
  border-radius: 1px;
  transition: 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;
  visibility: hidden;
}
.drop-down-menu li a, .drop-down-menu li span {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #151515 !important;
  font-weight: 400;
}
.drop-down-menu li a:hover, .drop-down-menu li span:hover {
  background-color: #ffc451;
}
.drop-down-menu li a:hover .deep-drop-down-menu, .drop-down-menu li span:hover .deep-drop-down-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.drop-down-menu li a i, .drop-down-menu li span i {
  position: absolute;
  font-size: 10px;
  right: 20px;
  top: 17px;
}
.drop-down-menu li #l #cl {
  color: #fff !important;
}
.drop-down-menu .ci2-drop-down:hover #l {
  background-color: #ffc451;
}
.drop-down-menu .ci2-drop-down:hover .deep-drop-down-menu {
  top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.head {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: rgba(170, 170, 170, 0.6666666667);
  font-weight: 600;
  letter-spacing: 2px;
}
.head .line {
  width: 100px;
  height: 0.4px;
  background-color: #fac04f;
}

#title {
  font-size: 36px;
  font-weight: 700;
}

.section-1 {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/assets/img/hero-bg.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-area h2 {
  font-size: 62px;
  color: #fff;
  max-width: 600px;
  text-align: center;
  line-height: 1;
}
.text-area h2 span {
  color: #fac04f;
}
.text-area p {
  margin-top: 15px;
  font-size: 25px;
  color: #eeeeee;
  font-family: "Raleway", sans-serif;
}

.card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
}
.card-wrapper .cardm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px;
  width: 100%;
  height: 160px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
.card-wrapper .cardm i {
  color: #fac04f;
  font-size: 32px;
}
.card-wrapper .cardm a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.card-wrapper .cardm a:hover {
  color: #fac04f;
}
.card-wrapper .cardm:hover {
  border: 1px solid #fac04f;
}

.section-2 {
  padding-top: 60px;
  margin-bottom: 10px;
}
.section-2 h3 {
  font-size: 28px;
  margin-bottom: 5px;
  line-height: 1.1;
}
.section-2 .list {
  margin: 15px 0 10px 0;
  margin-left: 30px;
}
.section-2 li {
  list-style-image: url("/assets/img/icon/icons8-check.svg");
}
.section-2 #rimg {
  width: 100%;
  object-fit: cover;
}

.section-2 .swiper {
  margin-top: 60px;
  height: 140px;
}
.section-2 .swiper img {
  width: 120px;
  -webkit-filter: grayscale(1) invert(0.5);
  filter: grayscale(100) invert(0.7);
  transition: 0.3s;
  cursor: pointer;
}
.section-2 .swiper img:hover {
  -webkit-filter: grayscale(0) invert(0);
  filter: grayscale(0) invert(0);
}
.section-2 .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  width: auto;
}
.section-2 .swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
}
.section-2 .swiper-pagination-bullet-active {
  background-color: #ffbb38 !important;
}

.section-3 {
  padding-top: 60px;
  overflow: hidden;
}
.section-3 .row .left {
  background: url("/assets/img/features.jpeg") center/cover no-repeat;
  min-height: 400px;
}
.section-3 .row .right img {
  width: 40px;
  height: 40px;
}
.section-3 .row .right .cols {
  display: flex;
  align-items: start;
  gap: 15px;
}
.section-3 .row .right .cols .right h4 {
  font-size: 1.25em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #444444;
  margin-bottom: 10px;
}
.section-3 .row .right .cols .right p {
  font-size: 0.9375rem;
  color: #848484;
}
.section-3 .row .right .col:last-child {
  margin-bottom: 0px;
}

.section-4 {
  padding-top: 60px;
}
.section-4 .cwrp {
  margin-top: 3.125rem;
}
.section-4 .cwrp .icon-box {
  height: 340px;
  border: 1px solid #ebebeb;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  transition: 0.4s;
}
.section-4 .cwrp .icon-box i {
  min-width: 70px;
  min-height: 70px;
  background-color: #fac04f;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 20px;
}
.section-4 .cwrp .icon-box i img {
  width: 70px;
  height: 40px !important;
}
.section-4 .cwrp .icon-box a {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #151515;
  transition: 0.3s;
}
.section-4 .cwrp .icon-box a:hover {
  color: #fac04f;
}
.section-4 .cwrp .icon-box p {
  font-size: 0.875rem;
  text-align: center;
}
.section-4 .cwrp .icon-box:hover {
  transform: translateY(-2%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-4 .section-footers {
  margin-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/cta-bg.jpg") center/cover no-repeat;
  height: 17.5rem;
}
.section-4 .section-footers .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.section-4 .section-footers .container h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.section-4 .section-footers .container p {
  color: white;
  text-align: center;
}
.section-4 .section-footers .container a {
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.section-4 .section-footers .container a:hover {
  border-color: #fac04f;
  background: #fac04f;
  color: black;
}

.section-5 {
  padding-top: 60px;
}
.section-5 .bigsize {
  font-size: 48px !important;
  position: relative;
  top: -7px;
}
.section-5 .portfolio-flters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-5 .portfolio-flters li {
  text-transform: uppercase;
  font-weight: 600;
  color: #444445;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.section-5 .portfolio-flters li.active {
  background-color: #fcbd29;
}
.section-5 .portfolio-flters li:hover {
  background-color: #fcbd29;
}
.section-5 .portfolio-wrapper {
  transition: all ease-in-out 0.3s !important;
  columns: 3;
}
.section-5 .portfolio-wrapper .portfolio-item {
  margin-bottom: 10px;
  height: min-content;
  position: relative;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}
.section-5 .portfolio-wrapper .portfolio-item img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
.section-5 .portfolio-wrapper .portfolio-item:hover img {
  scale: 1.2;
}
.section-5 .portfolio-wrapper .portfolio-item:hover .portfolio-info {
  opacity: 1 !important;
  scale: 1.1;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5764705882);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: end;
  padding-left: 24px;
  padding-bottom: 34px;
  transition: 0.4s;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper a, .section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper i {
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper a:hover, .section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper i:hover {
  color: #fcbd29;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper i {
  cursor: pointer;
  font-size: 22px;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info .button-wrapper a i {
  font-size: 25px !important;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.section-5 .portfolio-wrapper .portfolio-item .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}
.section-5 .portfolio-footer {
  margin-top: 120px;
}
.section-5 .portfolio-footer .bg-img {
  background: url("/assets/img/counts-img.jpg") center center no-repeat !important;
  background-size: cover !important;
  min-height: 400px;
}
.section-5 .portfolio-footer .right h3 {
  font-size: 2.125rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.section-5 .portfolio-footer .right .row span {
  font-size: 36px;
  font-weight: 700;
}
.section-5 .portfolio-footer .right .row p {
  padding: 15px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #3b3b3b;
}
.section-5 .portfolio-footer .right .row i {
  font-size: 2.45em;
  color: #fcbd29;
}
.section-5 .portfolio-slider {
  margin-top: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/testimonials-bg.jpg") center/cover no-repeat;
  height: 440px;
}
.section-5 .portfolio-slider .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-5 .swiper {
  margin-top: 60px;
  min-height: 280px;
}
.section-5 .swiper .swiper-pagination {
  bottom: 0px !important;
  display: inline-block;
  margin-top: 10px !important;
}
.section-5 .swiper .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
.section-5 .swiper .swiper-pagination-bullet-active {
  background-color: #ffbb38 !important;
}
.section-5 .user-wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-5 .user-wrappers img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
}
.section-5 .user-wrappers .name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.section-5 .user-wrappers .job {
  font-size: 14px;
  font-weight: 400 !important;
  color: #ddd;
}
.section-5 .swiper-slide {
  flex-direction: column !important;
}
.section-5 .swiper-slide p {
  width: 80%;
  text-align: center;
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}
.section-5 .swiper-slide i {
  color: #eee;
  font-size: 24px;
  margin-right: 5px;
  opacity: 0.5;
}
.section-5 .swiper-slide .botm {
  position: relative;
  margin-left: 5px;
  top: 10px;
}

.section-6 {
  margin-top: 3.75rem;
}
.section-6 .box {
  position: relative !important;
}
.section-6 .box:hover .member-info-social-card {
  bottom: 160px;
  opacity: 1;
}
.section-6 .content {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.section-6 #team-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.section-6 .memmber-box {
  padding: 25px 15px;
}
.section-6 .memmber-box .name {
  font-size: 1.125rem;
  font-family: "Raleway", sans-serif;
  color: #151515;
  font-weight: 700;
  margin-bottom: 5px;
}
.section-6 .memmber-box .job {
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.section-6 .member-info-social-card {
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 300ms cubic-bezier(0.61, 1, 0.88, 1) 0s;
  opacity: 0;
}
.section-6 .member-info-social-card i {
  width: 36px;
  height: 36px;
  background-color: #dbd9d9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}
.section-6 .member-info-social-card i:hover {
  background-color: #fcbd29;
}

.section-7 {
  margin-top: 60px;
}
.section-7 #map {
  width: 100%;
  height: 270px;
}
.section-7 .info-card {
  display: flex;
  gap: 15px;
}
.section-7 .info-card i {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background-color: #ffbb38;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.section-7 .info-card .text-areas h4 {
  color: #151515;
  text-align: left;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.section-7 .info-card .text-areas p {
  color: #484848;
  font-size: 0.875rem;
}
.section-7 input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  outline: none;
  border: 1px solid #dee2e6;
  transition: 0.3s;
}
.section-7 input:focus {
  border-color: #ffbb38;
}
.section-7 textarea {
  width: 100%;
  outline: none;
  padding-left: 10px;
  border: 1px solid #dee2e6;
}
.section-7 textarea:focus {
  border-color: #ffbb38;
}
.section-7 .send-btn {
  width: max-content;
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
  margin: auto;
}
.section-7 .send-btn:hover {
  background: #ffcd6b;
}

.up-to-top a {
  width: 45px;
  height: 45px;
  border-radius: 20px;
  background: #ffc451;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  right: 70px;
  transition: 0.3s;
  z-index: 999;
  color: #000;
  -webkit-animation: slide-top 2s cubic-bezier(0.645, 0.045, 0.355, 1) backwards infinite;
  animation: slide-top 2s cubic-bezier(0.645, 0.045, 0.355, 1) backwards infinite;
}
.up-to-top a:hover {
  background-color: #000;
  color: #ffc451;
}

footer {
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
}

.footer-header {
  background: #151515;
  padding: 60px 0 30px 0;
}
.footer-header p {
  font-size: 14px;
  color: #fff;
}
.footer-header .soscial-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  margin-bottom: 30px;
}
.footer-header .soscial-wrapper i {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: #292929;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.footer-header .soscial-wrapper i:hover {
  background-color: #ffc451;
  color: #000;
}
.footer-header h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
.footer-header ul {
  padding: 0;
  padding-left: 12px;
}
.footer-header li {
  margin-bottom: 14px;
}
.footer-header li a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-size: 0.875rem;
}
.footer-header li a:hover {
  color: #fcbd29;
}
.footer-header li a i {
  color: #fcbd29;
  font-size: 11px;
  padding-right: 5px;
}

form {
  margin-top: 30px;
  position: relative;
}
form input {
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 8px 14px;
}
form .btns {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ffc451;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
form .btns:hover {
  background: #ffcd6b;
}

.footer-footer {
  background-color: #000000;
  color: #fff;
}
.footer-footer .x {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 5px;
}
.footer-footer .x a {
  color: red;
  margin: 0;
  padding: 0;
}

.close {
  display: none !important;
}

@media (max-width: 1200px) {
  .card-wrapper {
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .card-wrapper .cardm {
    width: 25% !important;
    height: 140px;
  }
}
@media (max-width: 992px) {
  .up-to-top a {
    right: 20px !important;
  }
  #cl {
    color: #fff !important;
  }
  .center {
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    height: 100vh;
    width: 245px;
    padding-top: 40px;
    background: #272222;
    z-index: 1;
    transition: 0.4s;
    transform: translateX(100%) !important;
  }
  .center.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4117647059);
    z-index: 9999;
  }
  .center .close {
    color: #fff;
    position: fixed;
    right: 40px;
    top: 20px;
    font-size: 25px;
    display: block !important;
    cursor: pointer;
  }
  .center .menu-list {
    flex-direction: column !important;
    margin-bottom: 80px;
  }
  .center .drop-down-menu {
    position: relative !important;
    top: 10px !important;
    left: 0 !important;
    border: 2px solid black;
    background: rgba(37, 35, 35, 0.9333333333);
    width: 80%;
    display: none;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .center .drop-down-menu a {
    color: #fff !important;
  }
  ci2-drop-down {
    height: min-content;
  }
  .deep-drop-down-menu {
    display: none !important;
  }
  #l.activex .deep-drop-down-menu {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    margin-top: 10px;
    border: 2px solid black;
    background-color: #262323;
    display: block;
    z-index: 1;
    opacity: 1;
    display: block !important;
    width: 80%;
    margin-left: 20px;
    visibility: visible !important;
  }
  #l.activex .deep-drop-down-menu li a {
    color: #fff !important;
  }
  .drop-down-menu {
    display: none;
  }
  #x.active .drop-down-menu {
    position: relative;
    min-height: max-content;
    display: block;
  }
  .bars {
    display: block !important;
  }
  .section-2 .rowms {
    gap: 10px;
    flex-direction: column-reverse !important;
  }
  .section-2 .rowms #rimg {
    width: 100%;
    min-width: 0px;
  }
  .swiper {
    margin-top: -10px !important;
  }
  .swiper img {
    width: 100px;
  }
  .section-3 .row {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
  .section-3 .row .right {
    margin-top: 30px !important;
  }
  .section-3 .row .right .cols {
    margin: 0 !important;
  }
  .portfolio-wrapper {
    columns: 2 !important;
  }
}
@media (max-width: 769px) {
  .section-1 {
    padding-top: 110px;
  }
  .section-1 .card-wrapper .cardm {
    width: 100% !important;
  }
  .section-1 .text-area h2 {
    font-size: 28px;
  }
  .section-1 .text-area p {
    font-size: 20px;
    text-align: center;
  }
  .section-2 .list {
    margin-left: 0 !important;
  }
  .portfolio-wrapper {
    columns: 1 !important;
  }
}
@media (min-width: 1024px) {
  .portfolio-slider,
  .section-1,
  .section-footers {
    background-attachment: fixed !important;
  }
}

/*# sourceMappingURL=style.css.map */
